@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #092011;
    --background: #d8dfee;
    --backgroundPrimary: #e3e9f4;
    --backgroundSecondary: #f0f3fa;
    --primary: #288d4d;
    --secondary: #8bdaa7;
    --accent: #60d288;
    --dark: #092011;
    --light: #dff6e7;
  }
  .dark {
    --text: #dff6e7;
    --background: #111827;
    --backgroundPrimary: #1f2937;
    --backgroundSecondary: #374151;
    --primary: #3dc26e;
    --secondary: #257441;
    --accent: #2d9f55;
    --dark: #092011;
    --light: #dff6e7;
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Roboto.woff2) format("woff2");
  }
}

/* Only using this for scrollbar as Tailwind doesnt natively support classes for it */

.custom-scrollbar-container::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar-container::-webkit-scrollbar-track {
  background-color: var(--backgroundSecondary);
}

.custom-scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #3dc26e; /* Primary scrollbar color */
  border-radius: 10px;
}

.custom-scrollbar-container::-webkit-scrollbar-thumb:hover {
  background-color: #2d598f; /* Accent color on hover */
}

/* Firefox scrollbar styles */
.custom-scrollbar-container {
  scrollbar-width: thin;
  scrollbar-color: #3dc26e var(--backgroundSecondary);
}
